/* /Components/Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-kp9k0rf5e6],
.components-reconnect-repeated-attempt-visible[b-kp9k0rf5e6],
.components-reconnect-failed-visible[b-kp9k0rf5e6],
.components-pause-visible[b-kp9k0rf5e6],
.components-resume-failed-visible[b-kp9k0rf5e6],
.components-rejoining-animation[b-kp9k0rf5e6] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-kp9k0rf5e6],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-kp9k0rf5e6],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-kp9k0rf5e6],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-kp9k0rf5e6],
#components-reconnect-modal.components-reconnect-retrying[b-kp9k0rf5e6],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-kp9k0rf5e6],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-kp9k0rf5e6],
#components-reconnect-modal.components-reconnect-failed[b-kp9k0rf5e6],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-kp9k0rf5e6] {
    display: block;
}


#components-reconnect-modal[b-kp9k0rf5e6] {
    background-color: var(--rz-dialog-background-color);
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: var(--rz-dialog-border-radius);
    box-shadow: var(--rz-dialog-shadow);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-kp9k0rf5e6 0.5s both;
    &[open] {
        animation: components-reconnect-modal-slideUp-b-kp9k0rf5e6 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-kp9k0rf5e6 0.5s ease-in-out 0.3s;
        animation-fill-mode: both;
    }

}

#components-reconnect-modal[b-kp9k0rf5e6]::backdrop {
    background-color: var(--rz-dialog-mask-background-color);
    animation: components-reconnect-modal-fadeInOpacity-b-kp9k0rf5e6 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-kp9k0rf5e6 {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-kp9k0rf5e6 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-kp9k0rf5e6 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-kp9k0rf5e6] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-kp9k0rf5e6] {
    margin: 0;
    text-align: center;
}

.components-rejoining-animation[b-kp9k0rf5e6] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-kp9k0rf5e6] {
        position: absolute;
        border: 3px solid var(--rz-primary);
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-kp9k0rf5e6 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-kp9k0rf5e6] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-kp9k0rf5e6 {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
